#pastas
.vscode/
objs/
*.json
read-md/
scripts/
read-md/

# arquivos aleatórios
*.pdf
*.txt
teste
teste
.nfs*
*_tester
*md
test_*sh
basic*.sh

# arquivos de compilação
minishell
a.out
libft.a
*.o
readline.supp
